<!DOCTYPE html>
<html>
<head>
    <title>Weather Dashboard</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container mt-4">

    <h1 class="text-center mb-4">🌦 Weather Dashboard</h1>

    <form method="POST" class="d-flex justify-content-center mb-4">
        <input type="text" name="city" class="form-control w-50" placeholder="Enter City" required>
        <button class="btn btn-primary ms-2">Search</button>
    </form>

    
    {% if weather %}
    <div class="card p-3 mb-4 shadow text-center">
        <h3>{{ weather.city }}</h3>
        <p>🌡 Temperature: {{ weather.temp }} °C</p>
        <p>💧 Humidity: {{ weather.humidity }}%</p>
    </div>
    {% endif %}

   
    {% if prediction %}
    <div class="alert alert-success text-center">
        🔮 Predicted Temperature: {{ prediction }} °C
    </div>
    {% endif %}

    
    <div class="row">
        <div class="col-md-6">
            <canvas id="tempChart"></canvas>
        </div>
        <div class="col-md-6">
            <canvas id="humidityChart"></canvas>
        </div>
    </div>

</div>

<script>
const temps = JSON.parse('{{ temps | tojson | safe }}');
const humidity = JSON.parse('{{ humidity | tojson | safe }}');

console.log("Temps:", temps);
console.log("Humidity:", humidity);

// TEMPERATURE CHART
new Chart(document.getElementById("tempChart"), {
    type: 'line',
    data: {
        labels: temps.map((_, i) => "Day " + (i + 1)),
        datasets: [{
            label: 'Temperature (°C)',
            data: temps,
            borderWidth: 2,
            fill: false
        }]
    },
    options: {
        responsive: true
    }
});


new Chart(document.getElementById("humidityChart"), {
    type: 'bar',
    data: {
        labels: humidity.map((_, i) => "Day " + (i + 1)),
        datasets: [{
            label: 'Humidity (%)',
            data: humidity
        }]
    },
    options: {
        responsive: true
    }
});
</script>

</body>
</html>